/* debug */
nav {
    height: 100px;
    padding: 33.33px 0;
    background-color: #2c3e50;
}

.logo-container,
.menu-container {
    height: 33.33px;
    background-color: red;
}

.jbt {
    height: 450px;
    padding: 25px 0;
    background-color: #1abc9c;
}

.jbt-container {
    height: 400px;
    background-color: red;
}

.portfolio-title {
    height: 100px;
    background-color: red;
}

.portfolio-img {
    height: 300px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: red;
}

.about {
    height: 490px;
    padding: 25px 0;
    background-color: #1abc9c;
}

.about-title,
.about-download {
    height: 80px;
    background-color: red;
}

.about-text {
    height: 100px;
    margin: 10px 0;
    background-color: red;
}

.contact-title {
    height: 100px;
    background-color: red;
}

.contact-content {
    height: 400px;
    margin-top: 20px;
    background-color: red;
}
/* /debug */

main {
    margin-top: 50px;
}

section {
    margin: 60px 0;
}

.portfolio-content-container {
    margin-top: 20px;
}

.about-content-container {
    margin: 20px 0;
}